In [1]:
apikey = 'efo6iQ4z3t93SO9cGy6k'
import time
import datetime
import pandas as pd
 
def human_to_timestamp(string):
    return time.mktime(datetime.strptime(string,
                                            "%Y-%m-%d").timetuple())
import requests
def get_tokenview(_from, _to):
    body = {
    "network":"btc",
    "from":human_to_timestamp(_from), #human_to_timestamp('2019-12-01'), #start time UTC
    "to": human_to_timestamp(_to), #human_to_timestamp('2019-12-28'), # end timeUTC
    "amount":1000, # min amount
    "currency":"btc" # unit
    }
    r = requests.post(f'https://services.tokenview.io/vipapi/tx/unusual/amount/1/5?apikey={apikey}', json=body)
    if r.status_code == 200:
        if r.json()['code']==1:
            return pd.DataFrame(r.json()['data'])
    return None

In [59]:
    _from = '2024-01-01'
    _to = '2024-01-02'
    body = {
    "network":"btc",
    "from":human_to_timestamp(_from), #human_to_timestamp('2019-12-01'), #start time UTC
    "to": human_to_timestamp(_to), #human_to_timestamp('2019-12-28'), # end timeUTC
    "amount":1000, # min amount
    "currency":"btc" # unit
    }
    r = requests.post(f'https://services.tokenview.io/vipapi/tx/unusual/amount/1/5?apikey={apikey}', json=body)

In [60]:
r.json()

{'code': 1,
 'msg': '成功',
 'data': {'page': 1,
  'size': 5,
  'total': 32,
  'data': [{'network': 'BTC',
    'txid': '405efa8b6098352497281e999567fe37ff4eec6c90f0b1705bba1338bc5e60d2',
    'addr': 'bc1qa3phj5uhnuauk6r62cku6r6fl9rawqx4n6d690',
    'to_addr': '1Byon3tCq5GQYVGGdjXH4FgUQuX3zvRAWF',
    'amount': '1475.55554753',
    'height': 823888,
    'time': 1704124038,
    'date': '2024-01-01T00:00:00.000+00:00',
    'value': '1475.55554753'},
   {'network': 'BTC',
    'txid': '86d912880056f46604f5e82567e5037cfd4d3bc4fb7a8cf0d4b1f3f02950f570',
    'addr': '14HeA1YRUiJGb95HVpVTBuavMUBYGk6y7R',
    'to_addr': 'bc1qa3phj5uhnuauk6r62cku6r6fl9rawqx4n6d690',
    'amount': '1347.30863754',
    'height': 823882,
    'time': 1704120617,
    'date': '2024-01-01T00:00:00.000+00:00',
    'value': '1347.30863754'},
   {'network': 'BTC',
    'txid': 'a075524114f4674efa64f723a65cf54de305561baa99e02ffd706e23d4e518ad',
    'addr': '15zSgcHejx2op9pwvRGkbubchiUq4LtSu4',
    'to_addr': '1GHMyGySpy3P3JyPyHxX4AmP7scQENeSVq',
    'amount': '1009.93211847',
    'height': 823816,
    'time': 1704083047,
    'date': '2024-01-01T00:00:00.000+00:00',
    'value': '1009.93211847'},
   {'network': 'BTC',
    'txid': 'ad89fcd815586e4dab2dbb2e532c078da166b8894eb30996ef500a610d0c69f6',
    'addr': '15JGpg95g3rjPM3uSTBjf9h3Ei9tDBhLYQ',
    'to_addr': 'bc1qsls7tgj6e2rzc65a22m5ck7nd3dlcsn0787r70',
    'amount': '1009.93184594',
    'height': 823815,
    'time': 1704082024,
    'date': '2024-01-01T00:00:00.000+00:00',
    'value': '1009.93184594'},
   {'network': 'BTC',
    'txid': 'e48d675ebdfd9799fa0675c58639803e8f80f09a5c7731c236adec158ca4a774',
    'addr': '14TQMLcHvYjVnf949cqnKExfu9sGj2vAXH',
    'to_addr': '15zSgcHejx2op9pwvRGkbubchiUq4LtSu4',
    'amount': '1009.93517407',
    'height': 823814,
    'time': 1704081864,
    'date': '2024-01-01T00:00:00.000+00:00',
    'value': '1009.93517407'}]}}

In [35]:
from datetime import datetime, timedelta

start_date = '2020-01-01'
start_date = datetime.strptime(start_date, '%Y-%m-%d')
end_date = '2024-01-09'
end_date = datetime.strptime(end_date, '%Y-%m-%d')

d = start_date
end_points = []
while d < end_date:
    next_d = d + timedelta(days=2)
    end_points.append(('bitcoin', d.strftime('%Y-%m-%d'), next_d.strftime('%Y-%m-%d')))
    d = d + timedelta(days=2)

In [58]:
get_tokenview(end_points[-1][1], end_points[-1][2])

200

   page  size  total                                               data
0     1     5     42  {'network': 'BTC', 'txid': '8045a66c1e6c138518...
1     1     5     42  {'network': 'BTC', 'txid': '6d12d8bc3779483465...
2     1     5     42  {'network': 'BTC', 'txid': '6bc14336424c57193b...
3     1     5     42  {'network': 'BTC', 'txid': '38e99c5c3a290cb94d...
4     1     5     42  {'network': 'BTC', 'txid': '4837ae128c0e6746cc...

In [51]:
a = get_tokenview('2024-01-01', '2024-01-21')

200

In [52]:
a.json()

{'code': 1,
 'msg': '成功',
 'data': {'page': 1,
  'size': 5,
  'total': 644,
  'data': [{'network': 'BTC',
    'txid': 'c556f53785ed4d7b313ad356eda24fb29021331ca703f05a64a86d369f152e8f',
    'addr': '11Ah5Z48W6iAF5Nfq5xioyF4XFpwJBjon',
    'to_addr': '1EMwvsU5Wp2NpBKn67CnExjZKXyMBcDSKt',
    'amount': '1085.97480078',
    'height': 826519,
    'time': 1705737616,
    'date': '2024-01-20T00:00:00.000+00:00',
    'value': '1085.97480078'},
   {'network': 'BTC',
    'txid': '89618145b1c68aee5af415e7a2f7c3bc6c322b0b015919575363a0509ab3e986',
    'addr': '1AveTU1pdJNsKq6kBqbVoKQkp472X4z926',
    'to_addr': '1CuALwuFJQQVSmUmpoA81yKJACBGJdeo3U',
    'amount': '1085.97480078',
    'height': 826519,
    'time': 1705737616,
    'date': '2024-01-20T00:00:00.000+00:00',
    'value': '1085.97480078'},
   {'network': 'BTC',
    'txid': '9ca9915e2dfe7e7efd18f0844755c70f3c429a1577352629f92bda40f9d65378',
    'addr': '3MqUP6G1daVS5YTD8fz3QgwjZortWwxXFd',
    'to_addr': '1K297dCAsEhCyPAk42PhBMRiKu2ws3hGHL',
    'amount': '1455.06826368',
    'height': 826476,
    'time': 1705713799,
    'date': '2024-01-20T00:00:00.000+00:00',
    'value': '1455.06826368'},
   {'network': 'BTC',
    'txid': 'cc391234f0f6e8a1b527772c79d32326416eaef9cdb22fbaa921ef943e254afb',
    'addr': '3MqUP6G1daVS5YTD8fz3QgwjZortWwxXFd',
    'to_addr': '1AaGFZwzFnVST3DSkApFjk7tJCNmGfDmUo',
    'amount': '1454.22514318',
    'height': 826474,
    'time': 1705713382,
    'date': '2024-01-20T00:00:00.000+00:00',
    'value': '1454.22514318'},
   {'network': 'BTC',
    'txid': '010834d7150d936f72c6291fcd65fc46a099bed7cde5240b652f2bc8f61e216d',
    'addr': '3MqUP6G1daVS5YTD8fz3QgwjZortWwxXFd',
    'to_addr': '1AaGFZwzFnVST3DSkApFjk7tJCNmGfDmUo',
    'amount': '1454.22514318',
    'height': 826474,
    'time': 1705713382,
    'date': '2024-01-20T00:00:00.000+00:00',
    'value': '1454.22514318'}]}}

In [ ]:
import time
df = pd.DataFrame()
for end_point in tqdm.tqdm(end_points):
    df_t = await get_data(end_point)
    df = pd.concat([df,df_t])
    time.sleep(np.random.randint(5))

In [2]:
from datetime import datetime, timedelta

start_date = '2020-01-01'
start_date = datetime.strptime(start_date, '%Y-%m-%d')
end_date = '2024-01-21'
end_date = datetime.strptime(end_date, '%Y-%m-%d')

d = start_date
end_points = []
while d < end_date:
    delta = 30
    next_d = d + timedelta(days=delta)
    end_points.append(('bitcoin', d.strftime('%Y-%m-%d'), next_d.strftime('%Y-%m-%d')))
    d = d + timedelta(days=delta)

In [3]:
end_points

[('bitcoin', '2020-01-01', '2020-01-31'),
 ('bitcoin', '2020-01-31', '2020-03-01'),
 ('bitcoin', '2020-03-01', '2020-03-31'),
 ('bitcoin', '2020-03-31', '2020-04-30'),
 ('bitcoin', '2020-04-30', '2020-05-30'),
 ('bitcoin', '2020-05-30', '2020-06-29'),
 ('bitcoin', '2020-06-29', '2020-07-29'),
 ('bitcoin', '2020-07-29', '2020-08-28'),
 ('bitcoin', '2020-08-28', '2020-09-27'),
 ('bitcoin', '2020-09-27', '2020-10-27'),
 ('bitcoin', '2020-10-27', '2020-11-26'),
 ('bitcoin', '2020-11-26', '2020-12-26'),
 ('bitcoin', '2020-12-26', '2021-01-25'),
 ('bitcoin', '2021-01-25', '2021-02-24'),
 ('bitcoin', '2021-02-24', '2021-03-26'),
 ('bitcoin', '2021-03-26', '2021-04-25'),
 ('bitcoin', '2021-04-25', '2021-05-25'),
 ('bitcoin', '2021-05-25', '2021-06-24'),
 ('bitcoin', '2021-06-24', '2021-07-24'),
 ('bitcoin', '2021-07-24', '2021-08-23'),
 ('bitcoin', '2021-08-23', '2021-09-22'),
 ('bitcoin', '2021-09-22', '2021-10-22'),
 ('bitcoin', '2021-10-22', '2021-11-21'),
 ('bitcoin', '2021-11-21', '2021-12-21'),
 ('bitcoin', '2021-12-21', '2022-01-20'),
 ('bitcoin', '2022-01-20', '2022-02-19'),
 ('bitcoin', '2022-02-19', '2022-03-21'),
 ('bitcoin', '2022-03-21', '2022-04-20'),
 ('bitcoin', '2022-04-20', '2022-05-20'),
 ('bitcoin', '2022-05-20', '2022-06-19'),
 ('bitcoin', '2022-06-19', '2022-07-19'),
 ('bitcoin', '2022-07-19', '2022-08-18'),
 ('bitcoin', '2022-08-18', '2022-09-17'),
 ('bitcoin', '2022-09-17', '2022-10-17'),
 ('bitcoin', '2022-10-17', '2022-11-16'),
 ('bitcoin', '2022-11-16', '2022-12-16'),
 ('bitcoin', '2022-12-16', '2023-01-15'),
 ('bitcoin', '2023-01-15', '2023-02-14'),
 ('bitcoin', '2023-02-14', '2023-03-16'),
 ('bitcoin', '2023-03-16', '2023-04-15'),
 ('bitcoin', '2023-04-15', '2023-05-15'),
 ('bitcoin', '2023-05-15', '2023-06-14'),
 ('bitcoin', '2023-06-14', '2023-07-14'),
 ('bitcoin', '2023-07-14', '2023-08-13'),
 ('bitcoin', '2023-08-13', '2023-09-12'),
 ('bitcoin', '2023-09-12', '2023-10-12'),
 ('bitcoin', '2023-10-12', '2023-11-11'),
 ('bitcoin', '2023-11-11', '2023-12-11'),
 ('bitcoin', '2023-12-11', '2024-01-10'),
 ('bitcoin', '2024-01-10', '2024-02-09')]

In [4]:
import requests
import numpy as np
import pandas as pd
import tqdm
from datetime import datetime
import time

def get_Unusual(_from, _to):
    body = {
    "network":"btc",
    "from":human_to_timestamp(_from), #human_to_timestamp('2019-12-01'), #start time UTC
    "to": human_to_timestamp(_to), #human_to_timestamp('2019-12-28'), # end timeUTC
    "amount":1000, # min amount
    "currency":"btc" # unit
    }
    r = requests.post(f'https://services.tokenview.io/vipapi/tx/unusual/count?apikey={apikey}', json=body)
    if r.status_code == 200:
        if 'data' in r.json():
            return r.json()
    return None

In [5]:
df = pd.DataFrame()
for e in tqdm.tqdm(end_points):
    r = get_Unusual(e[1], e[2])
    if r:
        df_t = pd.DataFrame([list(i.items())[0] for i in r['data']], columns = ['d', 'Unusual'])
        df = pd.concat([df, df_t])
#         time.sleep(30)

100%|██████████████████████████████████████████████████████████████████████████████████| 50/50 [02:08<00:00,  2.56s/it]

In [7]:
df.to_excel("./data/Unusual_transaction.xlsx", index=False)

In [8]:
df

             d  Unusual
0   2022-05-30        5
1   2022-05-31      157
2   2022-06-01      134
3   2022-06-02       64
4   2022-06-03       78
..         ...      ...
7   2024-01-16       70
8   2024-01-17       74
9   2024-01-18       77
10  2024-01-19       69
11  2024-01-20       10

[613 rows x 2 columns]