In [ ]:
C7Jl9wpHykfQp5U2xOjr9P7E2MySTbdbBnHkEtXCC7yCQeUghkP5aoLiczyyjdyA

In [ ]:
gOFLSPhJEQNEdLmOHZVOCdPecRFPbgeDGWgM5aMB7BqxXzh6PTgMnPpvGcdWgYid

In [2]:
import json 
import requests 
  
# defining key/request url 
key = "https://api.binance.com/api/v3/ticker/price?symbol=BTCUSDT"
  
# requesting data from url 
data = requests.get(key)   
data = data.json() 
print(f"{data['symbol']} price is {data['price']}")

BTCUSDT price is 43177.83000000

In [27]:
import datetime
num_days = 4000
# Define the start and end times for the data
end_time = datetime.datetime.now()
start_time = end_time - datetime.timedelta(days=num_days)
start_timestamp = int(start_time.timestamp() * 1000)
end_timestamp = int(end_time.timestamp() * 1000)

In [12]:
start_time

datetime.datetime(2015, 10, 27, 15, 39, 5, 708749)

In [35]:
import json
import time
import requests

# Define the Binance API endpoint for K-line data
endpoint = 'https://api.binance.com/api/v3/klines'

# Define the parameters for the API request
symbol = 'BTCUSDT'
interval = '1d'
limit = 1000
params = {'symbol': symbol, 'interval': interval, 'startTime': start_timestamp, 'endTime': end_timestamp, 'limit': limit}

# Send the API request and store the response data in a list
data = []
while True:
    response = requests.get(endpoint, params=params)
#     klines = json.loads(response.text)
    klines = response.json()
    data += klines
    if len(klines) < limit:
        break
    params['startTime'] = int(klines[-1][0]) + 1
    time.sleep(0.1)

In [36]:
import pandas as pd

# Create a pandas dataframe with the OHLC data and timestamps
ohlc_data = [[float(kline[1]), float(kline[2]), float(kline[3]), float(kline[4])] for kline in data]
df = pd.DataFrame(ohlc_data, columns=['Open', 'High', 'Low', 'Close'])
timestamps = [datetime.datetime.fromtimestamp(int(kline[0]) / 1000) for kline in data]
df['Timestamp'] = timestamps
# df.set_index('Timestamp', inplace=True)

In [37]:
df

          Open      High       Low     Close           Timestamp
0      4261.48   4485.39   4200.74   4285.08 2017-08-17 07:00:00
1      4285.08   4371.52   3938.77   4108.37 2017-08-18 07:00:00
2      4108.37   4184.69   3850.00   4139.98 2017-08-19 07:00:00
3      4120.98   4211.08   4032.62   4086.29 2017-08-20 07:00:00
4      4069.13   4119.62   3911.79   4016.00 2017-08-21 07:00:00
...        ...       ...       ...       ...                 ...
2336  46951.04  47972.00  44748.67  46110.00 2024-01-09 07:00:00
2337  46110.00  47695.93  44300.36  46653.99 2024-01-10 07:00:00
2338  46654.00  48969.48  45606.06  46339.16 2024-01-11 07:00:00
2339  46339.16  46515.53  41500.00  42782.73 2024-01-12 07:00:00
2340  42782.74  43254.96  42436.12  43112.01 2024-01-13 07:00:00

[2341 rows x 5 columns]

In [39]:
df.to_excel('./data/btc_price.xlsx', index=True)

In [64]:
import numpy as np
np.random.randint(10)

8